body {
  padding: 0;
  width: 100vw;
  margin: 0;
  font-family: calibri, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 37, 37);
  overflow-x: hidden;
}

.navbar-toggler { 
  display: none; 
  background: transparent; 
  border: 1px solid rgb(0, 37, 37);
  border-radius: 5px; 
  padding: 8px 10px; 
  cursor: pointer; 
} 

.navbar-toggler span { 
  display: block; 
  width: 25px; 
  height: 3px; 
  background-color: rgb(0, 37, 37); 
  margin: 4px 0; 
}

.navbar-collapse { 
  display: flex; 
} 

.navbar-nav { 
  display: flex; 
  list-style: none; 
  gap: 25px; 
} 

.navbar-nav a { 
  color: rgb(0, 37, 37);
  text-decoration: none; 
} 

.navbar-nav a:hover { 
  color: #0d6efd; 
}

nav {
  z-index: 10;
  position: fixed;
  width: 100vw;
  height: 4rem;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.nav-active{
  color: white;
  background-color: rgb(192, 219, 219);
  box-shadow: 0px 3px 5px #00000021;
}

.nav-active .navbtn {
  color: rgb(0, 59, 59);
}

.nav-active .active {
  background-color: rgb(183, 211, 211);
  position: relative;
}

.navwrapper {
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navimg {
  background-image: url("../imgs/AquaterraLogoT.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 0;
  width: 100%;
  height: 3rem;
}

.navbtn {
  color: white; 
  font-size: 1.1rem;
  height: 3rem;
  text-decoration: none;
  font-weight: bold;
  margin: 0 0.5rem;
  border-radius: 15px;
  padding: 0 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .active {
  background-color: transparent;
  position: relative;
  transition: 0.3s;
}

nav .active:hover {
  height: 3rem; 
  transform: translatez(0);
  cursor: default;
  box-shadow: none;
}

.navbtn:hover {
  height: 2.5rem;
  background-color: rgb(203, 233, 233);
  transition: 0.8s;
  transform: translatez(-15px);
  box-shadow: 0px 3px 5px #00000021;
}

.navbtn:last-child {
  margin: 0;
}

#ribbon {
  z-index: 2;
  font-size: 1.3rem;
  font-weight: bolder;
  padding: 3rem 0;
  width: 100vw;
  background-color: rgb(0, 31, 46);
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  background-image: url(../imgs/Ribbon.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}

#ribbon::before {
  z-index: 3;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #001f2e;
  background: linear-gradient(
    332deg,
    rgba(0, 31, 46, 0.849) 0%,
    rgba(127, 180, 184, 0.815) 100%
  );
}

#ribbon .btn{
  background-color: rgba(192, 219, 219, 0.192);
  color: white;
  z-index: 5;
  font-size: 1.1rem;
  width: 15rem;
  text-decoration: none;
  font-weight: bold;
  margin: 0 1rem;
  border-radius: 15px;
  padding: 0.5rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

#ribbon .btn:hover{
  background-color: rgb(203, 233, 233);
  color: rgb(0, 37, 37);
}

#ribbon p {
  font-weight:lighter;
  font-size: 1.1rem;
}

#ribbon div {
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  padding: 1rem 0;
  width: 100vw;
  background-color: #001f2e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer-col:first-child {
  text-align: right;
}

.footer-col{
  margin: 0 1rem;
  line-height: 1.5rem;
}

footer a{
  text-decoration: none;
  color: white;
}

.footer-col--title{
  font-weight: bolder;
  margin-bottom: 0.3rem;
} 

@media screen and (max-width: 1200px){
  .navwrapper {
    width: 900px;
  }

  #ribbon {
    font-size: 1.1rem;
  }

  #ribbon p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 950px){
  nav {
    height: 3.2rem;
  }

  .navwrapper {
    width: 650px;
  }

  .navimg {
    width: 100%;
    height: 2.5rem;
  }

  .navbtn {
    color: white; 
    font-size: 1rem;
    height: 2.5rem;
    padding: 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer{
    margin-top: 1rem;
  }

  #ribbon {
    font-size: 1rem;
  }

  #ribbon p {
    font-weight:lighter;
    text-align: center;
    font-size: 1rem;
    width: 650px;
    margin-bottom: 1rem;
  }

  #ribbon .btn{
    font-size: 1rem;
    width: 15rem;
  }

  footer {
    font-size: 1rem;
  }
}

@media screen and (max-width: 670px){
  .navbar-toggler { 
    display: block;
  } 
    
  .navbar-toggler a{
    display: none;
  } 

  .navbar-collapse { 
    display: none; 
    width: 100%; 
    margin-top: 15px; 
  }

  .navbar-collapse.show{ 
    display: flex;
    flex-direction: column; 
    width: 100vw; 
    margin-top: 0;
    justify-content: center;
    align-items: center;
  }

  .navbtn {
    font-size: .8rem;
    height: 2rem;
    margin: 0 0rem;
    padding: 0 2.25rem;
  }

  .navbar-nav { 
    flex-direction: column; 
    gap: 0; 
  } 

  .navbar-nav li { 
    padding: 12px 0; 
    border-top: 1px solid #444; 
  }

  #ribbon p {
    font-size: 1rem;
    width: 350px;
    margin-bottom: 0.5rem;
  }

  .navwrapper {
    width: 350px;
  }

  #ribbon .btn{
    font-size: 1rem;
    width: 15rem;
    padding: 0.2rem 2rem;
  }
}